@font-face {
  font-family: "titleFont";
  src: url(./../fonts/CormorantInfant-Light.ttf);
}

@font-face {
  font-family: "regularFont";
  src: url(./../fonts/Lato-Regular.ttf);
}

body {
  background-color: #000;
  color: #fff;
}

body.favorites {
  background-color: #424242;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  font-family: "titleFont";
  line-height: 100%;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

.home-container, .pages-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.bg-container {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(./../images/orch-bg.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-btn {
  font-size: 3em;
  cursor: pointer;
}

.pages-top {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

.listen-families {
  width: 22vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.listen-families p {
  max-width: 100%;
}

.related-piece.btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  background-color: #555555;
  border-radius: 5px;
}

.related-piece.btn h2 {
  font-size: 1.8em;
}

.related-piece.btn h3 {
  font-size: 1em;
}

.d-family {
  background-color: #808080;
  border-radius: 8px;
}

.spots-container {
  background-color: #555555;
  padding: 0;
  border-radius: 10px;
}

.spot {
  display: flex;
  border-bottom: 1px dashed #333333;
}

.spot img {
  /* width: 12%; */
  height: 50px;
}

.spot div {
  width: 80%;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-container a {
  padding: 0.3em 0;
  color: #fff;
  font-family: "titleFont";
  font-size: 4em;
  text-align: center;
}
 .menu-container a:hover {
  background-color: #424242;
 }

footer .main-line {
  font-family: "titleFont";
  font-size: 1.5em;


}

